::-webkit-scrollbar {
    width: 4px;
}
.chatContainer {
  overflow-y: auto;
  height: 90%;
}
.chatMsgs {
  padding: 0 24px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar {
  background: '#fff';
  border-right: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
}
.asideHide {
  position: absolute;
  width: 40px;
  height: 40px!important;
  border-bottom-right-radius: 50%;
  padding-top: 12px;
  padding-left: 15px;
  left: 245px;
  border-color: rgba(121, 97, 97, 0);
  z-index: 100;
  overflow-y: visible;
  height: calc(100% - 66px);
  background: #fff;
}
.asideShow {
  position: absolute;
  width: 40px;
  height: 40px!important;
  margin-top: 10px;
  left: 25px;
  border-color: rgba(121, 97, 97, 0);
  z-index: 1100;
  overflow-y: visible;
  height: calc(100% - 66px);
  visibility: visible;
}
@media (min-width:1024px) {
  .asideShow,.asideHide {
    display: none;
  }
}
@media (max-width:768px) {
  .chatContainer {
    height: 90vh;
  }
}
@media (max-width:425px) {
  .sidebar {
    position: absolute;
    z-index: 100;
  }
  .aside {
    display: block;
  }
  .chatContainer {
    height: 90vh;
  }
}
