i {
  margin-left: 4px!important;
  margin-right: 4px!important;
}

.header {
  background-color: #fff;
  padding: 0px;
  height: 100%;
}
.navItem {
  padding: 0 19px;
}
i {
  font-size: 16px;
}
.navItem:first-child {
  padding-left: 20px;
}
.userAvatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.rightItem {
  float: right!important;
}
@media (min-width:425px) {
  .asideHide,.asideShow {
    display: none;
  }
}
@media (max-width:425px) {
  .navItem,.rightItem {
    padding: 0 10px;
  }
}
@media (max-width:375px) {
  .navItem:first-child {
    padding-left: 31px;
  }
  .navItem,.rightItem {
    padding: 0 31px;
  }
}
@media (max-width:360px) {
  .navItem,.rightItem {
    padding: 0 29px;
  }
}
@media (max-width:320px) {
  .navItem:first-child {
    padding-left: 20px;
  }
  .navItem,.rightItem {
    padding: 0 25px;
  }
}
