.chatPreview {
  height: 50px!important;
  padding: 0 5px!important;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 18px!important;
}
.chatAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
.chatInfo {
  display: flex;
  flex-direction: column;
}
.chatInfoTitle {
  font-size: 17px;
  color: #000;
}
.chatInfoTime {
  color: #ccc;
}

.sidebar {
  background: '#fff';
  border-right: 1px solid #f4f4f4;
  display: flex;
  flex-direction: column;
}
.chatList {
  height: calc(100vh - 45px);
}
