.asideHide {
  position: absolute;
  width: 40px;
  height: 40px!important;
  border-radius: 50%;
  padding-top: 12px;
  padding-left: 15px;
  left: 245px;
  border-color: rgba(121, 97, 97, 0);
  z-index: 100;
  overflow-y: visible;
  height: calc(100% - 66px);
  background: #fff;
}
.asideShow {
  display: none;
  position: fixed;
  top: 50%;
  width: 40px;
  left: 5px;
  border-color: rgba(121, 97, 97, 0);
  z-index: 1100;
  overflow-y: visible;
  height: calc(100% - 66px);
  visibility: visible;
}
@media (max-width:425px) {
  .aside {
    display: block;
  }
}
