
.messageInputForm {
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f3f7f9;
}

.messageInput{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.messageInputBtn {
  padding: 0 25px;
  height: 40px;
}
.inputIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 150px;
}

.inputIcons i {
  font-size: 15px;
  cursor: pointer;
}
.inputIcons i:hover {
  color: #49a9ee;
}

@media (max-width:425px) {
  .messageInputForm {
    height: 12vh;
  }
  .inputIcons {
    width: 110px;
  }
}
@media (max-width:375px) {
  .inputIcons {
    width: 90px;
  }
}
@media (max-width:320px) {
  .inputIcons {
    width: 65px;
  }
}
