.chatMsgs {
  padding: 0 24px;
  overflow-x: hidden;
  overflow-y: auto;
}
.chatBody {
  flex-direction: column;
  margin-top: 15px;
}
.chatContent {
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 0px 10px 0;
    clear: both;
    color: #fff;
    background-color: #62a8ea;
    border-radius: 4px;
}
.chatContent::before {
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent;
}
.leftChat .chatContent {
  color: #76838f;
  background-color: #dfe9ef;
}
.leftChat .chatContent:first-child::before {
  left: -10px;
  border-right-color: #dfe9ef;
}
.leftChat {
  flex-direction: row;
}
.rightChat {
  flex-direction: row-reverse;
}
.rightChat .chatContent {
  color: #fff;
  background-color: #62a8ea;
}
.rightChat .chatContent:first-child::before {
  right: -10px;
  border-left-color: #62a8ea;
}
.chatUserAvatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
